
@{
    ViewData["Title"] = "Import";
}

<h3>Are you sure you want to Import Teacher Data?</h3>
<div>
    <form asp-action="Import">
        <div class="form-actions no-color">
            <input type="submit" value="Import" class="btn btn-default" /> |
            <a asp-action="Index">Back to Teacher List</a>
        </div>
    </form>
</div>

